name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build the watchface
        run: make docker-build

      - name: Upload PBW Artifact
        uses: actions/upload-artifact@v4
        with:
          name: forecal
          path: build/*.pbw

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: build/*.pbw
